body {
  margin: 0;
  padding: 0;
  background-color: #292929;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.flash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(65, 0, 150, 0.5);
  pointer-events: none;
  animation: flash 0.5s linear;
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
